.App-header {
  padding: 25px;
  text-align: center;
}

.App-header img {
  width:10%;
  height:auto;
  vertical-align: middle;
}
.asf {}

.Nav {
  background-color: cornflowerblue;
}

.Form {
  padding: 25px;
  text-align: center;
}

.Form-input {
  align-content: center;
}