.App {
  padding: 25px;
  text-align: center;
}

.App-header {
  padding: 25px;
  text-align: center;
}

.App-header img {
  width:10%;
  height:auto;
  vertical-align: middle;
}

.Nav {
  background-color: #db4c58;
}

.Form-input {
  align-content: center;
}

.Admin-tabs {
  padding: 25px;
  align-content: center;
}

/* .Cancel {
  background-color: indianred;
}

.Cancel .button:focus {
  background-color: #db4c58;
} */
